* {
  box-shadow: none;
  border-radius: 0;
  transition: none;
  font-family: "Terminus";
}

window {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  margin: 0;
  padding: 0;
}

#outer-box {
  background-color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 6px;
}

#inner-box {
  background-color: rgba(0, 0, 0, 1);
  margin-top: 8px;
  padding: 0;
}

#input {
  background-color: rgba(55, 59, 65, 1);
  color: #f8f8f2;
  padding: 6px 6px;  
  border: none;
  min-height: 0;
}
#input image {
  margin-right: 6px;
}

#entry {
  background-color: rgba(0, 0, 0, 1);
  padding: 6px;
  border: none;
}

#entry:selected {
  background-color: rgba(55, 59, 65, 1);
}

#text {
  color: #c5c8c6;
  margin-left: 6px;
}

#entry image {
  margin-right: 6px;
}
